{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

    <h2 class="mt-5">create task</h2>

<div class="col-md-8 mt-3 m-auto">

<div class="col-md-8">
    <form method="POST" action="/create">
        {% csrf_token %}
      <div class=mb-3">
        <label for="tid" class="form-label">Title:</label>
        <input type="text" class="form-control" name="t" id="tid" placeholder="Enter Title">
      </div>
  
      <div class="mb-3">
        <label for="detid" class="form-label">Details:</label>
        <textarea class="form-control" name="det" id="detid" rows="3"></textarea>
      </div>
  
      <div class="mb-3">
        <label for="dtid" class="form-label">Date:</label>
        <input type="date" class="form-control" name="dt" id="dtid" >
      </div>
      
  
      <div class="mb-3">
        
        <input type="submit" class="form-control btn btn-primary" name="send" id="tid" value="CREATE" >
      </div>
    </form>
  </div>
</body>
</html>
{% endblock 'main' %}